############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################



###############################################################################
#
# name: giediPrime
# made: tenner
# date: 30-03-2006
# http://www.tenr.de 
#
############################################################## FONTS ##########
					
menu.frame.font:			sans-9:bold
menu.title.font:			sans-10:bold
toolbar.clock.font:			sans-9:bold
toolbar.workspace.font:			tahoma-10:bold
toolbar.iconbar.focused.font:		sans-8:bold
toolbar.iconbar.unfocused.font:		sans-8
window.font:				sans-8

############################################################## MENU ###########

menu.bevelWidth:			1

#menu.itemHeight:			35
#menu.titleHeight:			21
menu.borderColor:			#191919
menu.borderWidth:			0

menu.bullet:				triangle
menu.bullet.position:			Right

menu.title:				flat
menu.title.justify:			center
menu.title.color:			#191919
menu.title.colorTo:			#191919
menu.title.textColor:			#D78647

menu.frame:				flat	
menu.frame.justify:			left
menu.frame.color:			#191919
menu.frame.colorTo:			#191919
menu.frame.textColor:			#565656
menu.frame.disableColor:		#D78647

menu.hilite:				flat
menu.hilite.color:			#03500A
menu.hilite.colorTo:			#03500A
menu.hilite.textColor:			#D78647			

############################################################## TOOLBAR ########

toolbar.bevelWidth:			1

toolbar.borderWidth:			0
toolbar.borderColor:			#191919

toolbar.height:				16

toolbar.justify:			center

toolbar:				flat
toolbar.pixmap:				
toolbar.color:				#03500A
toolbar.colorTo:			#03500A

toolbar.clock:				flat
toolbar.clock.justify:			center
toolbar.clock.color:			#191919
toolbar.clock.colorTo:			#191919
toolbar.clock.textColor:		#565656

toolbar.workspace:			flat
toolbar.workspace.justify:		Center
toolbar.workspace.color:		#191919
toolbar.workspace.colorTo:		#191919
toolbar.workspace.textColor:		#565656

toolbar.button:				flat 
toolbar.button.color:			#191919
toolbar.button.colorTo:			#191919
toolbar.button.picColor:		#6f6f6f
toolbar.button.pressed:			flat 
toolbar.button.pressed.color:		#191919
toolbar.button.pressed.colorTo:		#191919
toolbar.button.pressed.picColor:	#6f6f6f

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.color:		#191919
toolbar.iconbar.empty.colorTo:		#191919

toolbar.iconbar.focused:		flat
toolbar.iconbar.focused.color:		#191919
toolbar.iconbar.focused.colorTo:	#191919
toolbar.iconbar.focused.textColor:	#D78647
toolbar.iconbar.focused.justify:	center

toolbar.iconbar.unfocused:		flat
toolbar.iconbar.unfocused.color:	#191919
toolbar.iconbar.unfocused.colorTo:	#191919
toolbar.iconbar.unfocused.textColor:	#565656
toolbar.iconbar.unfocused.justify:	center

############################################################## WINDOW #########

window.bevelWidth:			1
window.shade:				false
window.borderWidth:			0
window.borderColor:			#F3F3F3

window.justify:				Center

window.title.height:			17

window.title.focus:			flat
window.title.focus.color:		#03500A
window.title.focus.colorTo:		#03500A
window.title.unfocus:			flat
window.title.unfocus.color:		#03500A
window.title.unfocus.colorTo:		#03500A

window.label.focus:			flat
window.label.focus.color:		#191919
window.label.focus.colorTo:		#191919
window.label.focus.textColor:		#D78647
window.label.unfocus:			flat
window.label.unfocus.color:		#191919
window.label.unfocus.colorTo:		#191919
window.label.unfocus.textColor:		#565656

window.button.focus:			flat	
window.button.focus.color:      	#191919
window.button.focus.colorTo:      	#191919
window.button.focus.picColor:		#D78647
window.button.unfocus:			flat
window.button.unfocus.Color:		#191919
window.button.unfocus.ColorTo:		#191919
window.button.unfocus.picColor:		#191919
window.button.pressed:			flat
window.button.pressed.color:		#191919
window.button.pressed.colorTo:		#191919
window.button.pressed.picColor:		#191919

window.handle.focus:			flat
window.handle.focus.color:		#191919
window.handle.focus.colorTo:		#191919
window.handle.unfocus:			flat
window.handle.unfocus.color:		#191919
window.handle.unfocus.colorTo:		#191919
window.handleWidth:			0

window.grip.focus:			flat
window.grip.focus.color:		#191919
window.grip.focus.colorTo:		#191919
window.grip.unfocus:			flat
window.grip.unfocus.color:		#191919
window.grip.unfocus.colorTo:		#191919

###############################################################################
# EOF
