[submodule "config/vim/bundle/syntastic"]
	path = config/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "config/vim/bundle/prolog.vim"]
	path = config/vim/bundle/prolog.vim
	url = git://github.com/adimit/prolog.vim.git
[submodule "devel/ls--"]
	path = devel/ls--
	url = git://github.com/trapd00r/ls--.git
[submodule "devel/initscripts"]
	path = devel/initscripts
;   url = git://projects.archlinux.org/initscripts.git
	url = http://projects.archlinux.org/git/initscripts.git
[submodule "config/zsh/zsh-syntax-highlighting"]
	path = config/zsh/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "devel/stderred"]
	path = devel/stderred
	url = git://github.com/sickill/stderred.git
[submodule "config/vim/bundle/vim-powerline"]
	path = config/vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
