.apvlvrc
.dmenu_cache
.dmenu_cache_recent
.esd_auth
.fehbg
.fehrc 
.gtk-bookmarks
.histfile 
.htoprc 
.hushlogin 
.ideskrc 
.nvidia-settings-rc 
.odbc.ini 
.recently-used 
.recently-used.xbel 
.viminfo 
.Xauthority 
.zcompdump 
.cache
