#omg how horrible...
#.gconf*
#.gimp*
#.gnome2*
#.gstreamer*

.Xauthority
.bash_history
.dmenurc
.fehrc
.histfile
.htoprc
.hushlogin
.ideskrc
.nvidia-settings-rc
.odbc.ini
.recently-used
.recently-used.xbel
.viminfo
.zcompdump

.cache
.adobe
.cpanplus
.dbus
.dia
.dropbox
.eclipse
.fluxbox
.fontconfig
.gegl-0.0
.idesktop
.macromedia
.mozzila
.openoffice.org
.ssh
.subversion
.themes
.thumbnails
.thunderbird
.wicd
.wine
.apvlvrc
.dmenu_cache
.dmenu_cache_recent
.esd_auth
.fehbg
.fehrc 
.gtk-bookmarks
.histfile 
.htoprc 
.hushlogin 
.ideskrc 
.nvidia-settings-rc 
.odbc.ini 
.recently-used 
.recently-used.xbel 
.zcompdump 

!bin

[ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789]*

