############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################



###############################################################################
#
# name: shine
# made: tenner
# date: 27-06-2006
# http://www.tenr.de 
#
############################################################## FONTS ##########
					
menu.frame.font:						sans-9:bold
menu.title.font:						sans-10:bold
toolbar.clock.font:						sans-9:bold
toolbar.workspace.font:					tahoma-10:bold
toolbar.iconbar.focused.font:			sans-8:bold
toolbar.iconbar.unfocused.font:			sans-8
window.font:							sans-8

############################################################## MENU ###########

menu.bevelWidth:						1

#menu.itemHeight:						35
#menu.titleHeight:						21

menu.borderColor:						#353535
menu.borderWidth:						1

menu.bullet.position:					Right
menu.bullet:							triangle

menu.submenu.pixmap:					
menu.hilite.submenu.pixmap:				

menu.selected.pixmap:					
menu.hilite.selected.pixmap:			

menu.unselected.pixmap:					
menu.hilite.unselected.pixmap:			

menu.title:								Sunken Bevel2 Gradient Vertical
menu.title.pixmap:						
menu.title.justify:						center
menu.title.color:						#7c7c7c
menu.title.colorTo:						#313131
menu.title.textColor:					#e7e7e7

menu.frame:								flat gradient vertical
menu.frame.pixmap:			
menu.frame.justify:						left
menu.frame.color:						#bfbfbf
menu.frame.colorTo:						#9d9c9c
menu.frame.textColor:					#383838
menu.frame.disableColor:				#000000

menu.hilite:							flat gradient horizontal
menu.hilite.pixmap:					
menu.hilite.color:						#7c7c7c
menu.hilite.colorTo:					#313131
menu.hilite.textColor:					#e7e7e7

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					1
toolbar.borderColor:					#353535

toolbar.height:							19

toolbar.justify:						center

toolbar:								flat gradient vertical
toolbar.pixmap:							
toolbar.color:							#ecedec
toolbar.colorTo:						#9d9c9c

toolbar.clock:							flat gradient vertical
toolbar.clock.pixmap:					
toolbar.clock.justify:					center
toolbar.clock.color:					#ecedec
toolbar.clock.colorTo:					#9d9c9c
toolbar.clock.textColor:				#000000

toolbar.workspace:						flat gradient vertical
toolbar.workspace.pixmap:				
toolbar.workspace.justify:				Center
toolbar.workspace.color:				#ecedec
toolbar.workspace.colorTo:				#9d9c9c
toolbar.workspace.textColor:			#000000

toolbar.button:							flat gradient vertical 
toolbar.button.pixmap:					
toolbar.button.color:					#ecedec
toolbar.button.colorTo:					#9d9c9c
toolbar.button.picColor:				#6f6f6f
toolbar.button.pressed:					flat gradient vertical
toolbar.button.pressed.pixmap:			
toolbar.button.pressed.color:			#ecedec
toolbar.button.pressed.colorTo:			#9d9c9c
toolbar.button.pressed.picColor:		#6f6f6f

toolbar.iconbar.empty:					flat gradient vertical
toolbar.iconbar.empty.pixmap:			
toolbar.iconbar.empty.color:			#ecedec
toolbar.iconbar.empty.colorTo:			#9d9c9c

toolbar.iconbar.focused:				Sunken Bevel2 Gradient Vertical
toolbar.iconbar.focused.pixmap:			
toolbar.iconbar.focused.color:			#7c7c7c
toolbar.iconbar.focused.colorTo:		#313131
toolbar.iconbar.focused.textColor:		#e7e7e7
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused:				flat gradient vertical
toolbar.iconbar.unfocused.pixmap:		
toolbar.iconbar.unfocused.color:		#ecedec
toolbar.iconbar.unfocused.colorTo:		#9d9c9c
toolbar.iconbar.unfocused.textColor:	#6f6f6f
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:						0
window.shade:							false
window.borderWidth:						1
window.borderColor:						#353535

window.justify:							Center

window.title.height:					19

window.title.focus:						flat
window.title.focus.pixmap:				tbarfcs.xpm
window.title.focus.color:				#
window.title.focus.colorTo:				#
window.title.unfocus:					flat
window.title.unfocus.pixmap:			tbarufcs.xpm
window.title.unfocus.color:				#
window.title.unfocus.colorTo:			#

window.label.focus:						Sunken Bevel2 Gradient Vertical
window.label.focus.pixmap:				
window.label.focus.color:				#7c7c7c
window.label.focus.colorTo:				#313131
window.label.focus.textColor:			#e7e7e7
window.label.unfocus:					Sunken Bevel2 Gradient Vertical
window.label.unfocus.pixmap:			
window.label.unfocus.color:				#ecedec
window.label.unfocus.colorTo:			#9d9c9c
window.label.unfocus.textColor:			#6f6f6f

window.button.focus:					flat
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#
window.button.unfocus:					flat
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#
window.button.pressed:					flat
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#

window.shade.pixmap:					shadefcs.xpm
window.shade.unfocus.pixmap:			shadeufcs.xpm
window.shade.pressed.pixmap:			shadepr.xpm

window.unshade.pixmap:					unshadefcs.xpm
window.unshade.unfocus.pixmap:			unshadeufcs.xpm
window.unshade.pressed.pixmap:			unshadepr.xpm

window.menuicon.pixmap:					menuiconfcs.xpm
window.menuicon.unfocus.pixmap:			menuiconufcs.xpm
window.menuicon.pressed.pixmap:			menuiconpr.xpm

window.close.pixmap:					closefcs.xpm
window.close.unfocus.pixmap:			closeufcs.xpm
window.close.pressed.pixmap:			closepr.xpm

window.iconify.pixmap:					minfcs.xpm
window.iconify.unfocus.pixmap:			minufcs.xpm
window.iconify.pressed.pixmap:			minpr.xpm

window.maximize.pixmap:					maxfcs.xpm
window.maximize.unfocus.pixmap:			maxufcs.xpm
window.maximize.pressed.pixmap:			maxpr.xpm

window.stick.pixmap:					stickfcs.xpm
window.stick.unfocus.pixmap:			stickufcs.xpm
window.stick.pressed.pixmap:			stickpr.xpm

window.stuck.pixmap:					stuckfcs.xpm
window.stuck.unfocus.pixmap:			stuckufcs.xpm
window.stuck.pressed.pixmap:			stuckufcs.xpm

window.handle.focus:					flat
window.handle.focus.pixmap:				tbarfcs.xpm
window.handle.focus.color:				#
window.handle.focus.colorTo:			#
window.handle.unfocus:					flat
window.handle.unfocus.pixmap:			tbarufcs.xpm
window.handle.unfocus.color:			#
window.handle.unfocus.colorTo:			#
window.handleWidth:						3

window.grip.focus:						Sunken Bevel2 Gradient Vertical
window.grip.focus.pixmap:				
window.grip.focus.color:				#7c7c7c
window.grip.focus.colorTo:				#313131
window.grip.unfocus:					flat
window.grip.unfocus.pixmap:				tbarufcs.xpm
window.grip.unfocus.color:				#
window.grip.unfocus.colorTo:			#

###############################################################################
# EOF
