############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################


# title:   milc2.0
# author:  tenner
# website: http://www.tenr.de
################################################################################

menu.frame.font:			sans-8:bold
menu.title.font:			sans-8:bold
toolbar.clock.font:			sans-12:bold,shadow
toolbar.workspace.font:			tahoma-10:bold,shadow
toolbar.iconbar.focused.font:		sans-8:bold
toolbar.iconbar.unfocused.font:		sans-8
window.font:				sans-8

################################################################################

menu.bevelWidth:                       1

menu.hight:			       21

menu.borderColor:                      #666666
menu.borderWidth:                      0

menu.bullet.position:                  Right

menu.frame:                            flat
menu.frame.justify:                    left
menu.frame.textColor:		       #414439
menu.frame.pixmap:		       frame.xpm
#menu.frame.color:		       #7d8775
#menu.frame.colorTo:		       #7d8775

menu.title.justify:                    right
menu.title.pixmap:		       tbarfcs.xpm
menu.title.textColor:		       #000000

menu.hilite:			       flat gradient rectangle
menu.hilite.pixmap:		       
menu.hilite.color: 	       		#f0f0ed
menu.hilite.colorTo: 	       		#797979
menu.hilite.textColor:			#ffffff

menu.submenu.pixmap:                   bullet.xpm
menu.selected.pixmap:                  selected.xpm
menu.unselected.pixmap:                unselected.xpm


################################################################################

toolbar.bevelWidth:                    0

toolbar.borderWidth:                   1
toolbar.borderColor:                   #666666

toolbar.height:			       21

toolbar.justify: 		       center


toolbar.clock:			       flat gradient	  
toolbar.clock.justify:                 right
toolbar.clock.textColor:	       #f39393
toolbar.clock.pixmap:     	       tbarfcs.xpm
#toolbar.clock.colorTo:      	       #d46060

toolbar.workspace:		       flat gradient
toolbar.workspace.justify:             Center
toolbar.workspace.pixmap:      	       tbarfcs.xpm
#toolbar.workspace.colorTo:	       #585858
toolbar.workspace.textColor:	       #a3a3a3

toolbar.button:			       flat gradient
toolbar.button.picColor: 	       #000000
toolbar.button.pixmap:                 tbarfcs.xpm
toolbar.label: 			       flat gradient
toolbar.label.textColor: 	       #000000
#toolbar.label.color:      	       #313131
#toolbar.label.colorTo:      	       #313131

toolbar.iconbar:                       flat gradient
#toolbar.iconbar.color:      	       #313131
#toolbar.iconbar.colorTo:      	       #313131

toolbar.iconbar.empty:                 flat gradient
toolbar.iconbar.empty.pixmap:          tbarfcs.xpm
#toolbar.iconbar.empty.colorTo:         #313131

toolbar.iconbar.focused:               flat gradient
#toolbar.iconbar.focused.color:	       #e9e9e9
#toolbar.iconbar.focused.colorTo:       #e9e9e9
toolbar.iconbar.focused.justify:       Center
toolbar.iconbar.focused.pixmap:	       tbarfcs.xpm
toolbar.iconbar.focused.textColor:     #000000

toolbar.iconbar.unfocused:             flat gradient
#toolbar.iconbar.unfocused.color:       #585858
#toolbar.iconbar.unfocused.colorTo:     #585858
toolbar.iconbar.unfocused.justify:     Center
toolbar.iconbar.unfocused.pixmap:      tbarfcs.xpm
toolbar.iconbar.unfocused.textColor:   #a7a7a7

################################################################################

window.bevelWidth:                     0

window.borderWidth:                    1
window.borderColor:		       #666666

window.justify:                        Center

window.title.height: 		       21
window.title.focus.pixmap:	       tbarfcs.xpm
window.title.unfocus.pixmap:           tbarufcs.xpm

window.label.focus.pixmap:             tbarfcs.xpm
window.label.focus.textColor:	       #000000
window.label.unfocus.pixmap:           tbarufcs.xpm
window.label.unfocus.textColor:	       #a7a7a7
window.handleWidth:                    3
window.handle.focus.pixmap:            tbarfcs.xpm
window.handle.unfocus.pixmap:          tbarfcs.xpm

window.grip.focus.pixmap:              tbarfcs.xpm
window.grip.unfocus.pixmap:            tbarfcs.xpm

window.close.pixmap:                   buttonfcs.xpm
window.close.pressed.pixmap:           buttonfcs.xpm
window.close.unfocus.pixmap:           buttonufcs.xpm

window.shade.pixmap:			shadefcs.xpm
window.shade.unfocus.pixmap:	        shadeufcs.xpm
window.shade.pressed.pixmap:		shadefcs.xpm

window.unshade.pixmap:			unshadefcs.xpm
window.unshade.unfocus.pixmap:		unshadeufcs.xpm
window.unshade.pressed.pixmap:		unshadefcs.xpm

window.menuicon.pixmap:			menuiconfcs.xpm
window.menuicon.unfocus.pixmap:		menuiconufcs.xpm
window.menuicon.pressed.pixmap:		menuiconfcs.xpm

window.iconify.pixmap:                 buttonfcs.xpm
window.iconify.pressed.pixmap:         buttonfcs.xpm
window.iconify.unfocus.pixmap:         buttonufcs.xpm

window.maximize.pixmap:                buttonfcs.xpm
window.maximize.pressed.pixmap:        buttonfcs.xpm
window.maximize.unfocus.pixmap:        buttonufcs.xpm

window.stick.pixmap:                   buttonfcs.xpm
window.stick.unfocus.pixmap:           buttonufcs.xpm
window.stick.pressed.pixmap:           stuckfcs.xpm

window.stuck.pixmap:                   stuckfcs.xpm
window.stuck.unfocus.pixmap:	       stuckufcs.xpm

################################################################################
EOF
