<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="apps-accessories-menu" label="Accessories">
		<item label="Calculator">
			<action name="Execute">
				<command>
					xcalc
				</command>
			</action>
		</item>
	</menu>
	<menu id="apps-editors-menu" label="Editors">
		<item label="GVim">
			<action name="Execute">
				<command>
					gvim
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
					<wmclass>
						GVim
					</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-term-menu" label="Terminals">
		<item label="Rxvt Unicode">
			<action name="Execute">
				<command>
					urxvt
				</command>
			</action>
		</item>
		<item label="Xterm">
			<action name="Execute">
				<command>
					xterm
				</command>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Firefox">
			<action name="Execute">
				<command>
					firefox
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
					<wmclass>
						Firefox
					</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="Office">
		<item label="OpenOffice Base">
			<action name="Execute">
				<command>
					ooffice -base
				</command>
			</action>
		</item>
		<item label="OpenOffice Calc">
			<action name="Execute">
				<command>
					ooffice -calc
				</command>
			</action>
		</item>
		<item label="OpenOffice Draw">
			<action name="Execute">
				<command>
					ooffice -draw
				</command>
			</action>
		</item>
		<item label="OpenOffice Impress">
			<action name="Execute">
				<command>
					ooffice -impress
				</command>
			</action>
		</item>
		<item label="OpenOffice Math">
			<action name="Execute">
				<command>
					ooffice -math
				</command>
			</action>
		</item>
		<item label="OpenOffice Printer Administration">
			<action name="Execute">
				<command>
					ooffice-printeradmin
				</command>
			</action>
		</item>
		<item label="OpenOffice Writer">
			<action name="Execute">
				<command>
					ooffice -writer
				</command>
			</action>
		</item>
	</menu>
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="MPlayer">
			<action name="Execute">
				<command>
					gmplayer
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
					<wmclass>
						MPlayer
					</wmclass>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-fileman-menu" label="File Managers">
		<item label="PCMan File Manager">
			<action name="Execute">
				<command>
					pcmanfm
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Gimp">
			<action name="Execute">
				<command>
					gimp
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Dia Diagram Editor">
			<action name="Execute">
				<command>
					dia
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
		<item label="Exit Openbox">
			<action name="Execute">
				<command>
					~/bin/shutdown-dialog.py
				</command>
			</action>
		</item>
		<!-- <item label="Log Out"> <action name="Exit"> <prompt> yes </prompt> </action> </item> !-->
	</menu>
	<menu id="games-menu" label="Games">
		<item label="Steam">
			<action name="Execute">
				<command>
					wine ~/.wine/drive_c/Program\ Files/Steam/Steam.exe
				</command>
			</action>
		</item>
		<item label="World of Goo">
			<action name="Execute">
				<command>
					~/WorldOfGoo/WorldOfGoo
				</command>
			</action>
		</item>
		<item label="Eschalon Book II">
			<action name="Execute">
				<command>
					~/eschalon_book_2/eschalon_book_2
				</command>
			</action>
		</item>
	</menu>
	<menu id="wallpaper-menu" label="Wallpaper">
		<item label="Randomize Wall">
			<action name="Execute"> <command> randomWall.sh </command> </action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<!-- <item label="urxvtc">
			<action name="Execute"> <command> urxvtc </command> </action>
		</item> -->
		<item label="tmux">
			<action name="Execute"> <command> urxvtc -e tmux -2 attach </command> </action>
		</item>
		<item label="vimperator">
			<action name="Execute"> <command> firefox </command> </action>
		</item>
		<item label="Home">
			<action name="Execute"> <command> pcmanfm </command> </action>
		</item>
		<menu id="games-menu"/>
		<separator/>
		<!-- <menu id="chwall" label="Wallpaper" execute="wallmenu.py" /> -->
		<separator/>
		<separator label="Applications"/>
		<!-- <menu id="apps-accessories-menu"/> -->
		<!-- <menu id="apps-editors-menu"/> -->
		<!-- <menu id="apps-graphics-menu"/> -->
		<!-- <menu id="apps-net-menu"/> -->
		<menu id="apps-office-menu"/>
		<!-- <menu id="apps-multimedia-menu"/> -->
		<menu id="apps-term-menu"/>
		<!-- <menu id="apps-fileman-menu"/> -->
		<!-- <separator label="System"/> -->
		<separator/>
		<menu id="system-menu"/>
		<item label="Set Wallpaper">
			<action name="Execute"> <command> nitrogen </command> </action>
		</item>
	</menu>
</openbox_menu>
