############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################



###############################################################################
#
# name: trinity
# made: tenner
# date: 22-05-2008
# http://www.tenr.de 
#
############################################################## FONTS ##########
					
menu.frame.font:				sans-9:bold
menu.title.font:				sans-10:bold
toolbar.clock.font:				sans-9:bold
toolbar.workspace.font:				tahoma-10:bold
toolbar.iconbar.focused.font:			sans-8:bold
toolbar.iconbar.unfocused.font:			sans-8
window.font:					sans-8

############################################################## MENU ###########

menu.bevelWidth:				1

#menu.itemHeight:				35
#menu.titleHeight:				21

menu.borderColor:				#6aeda5
menu.borderWidth:				2

menu.bullet.position:				Right
menu.bullet:					square		
menu.frame.underlineColor:			#6aeda5

menu.submenu.pixmap:				
menu.hilite.submenu.pixmap:			

menu.selected.pixmap:				
menu.hilite.selected.pixmap:			

menu.unselected.pixmap:				
menu.hilite.unselected.pixmap:			

menu.title:					flat
menu.title.pixmap:				tbarfcs.xpm
menu.title.justify:				center
menu.title.color:				#
menu.title.colorTo:				#
menu.title.textColor:				#6aeda5

menu.frame:					flat
menu.frame.pixmap:				
menu.frame.justify:				left
menu.frame.color:				#010101
menu.frame.colorTo:				#010101
menu.frame.textColor:				#6aeda5
menu.frame.disableColor:			#1b7648

menu.hilite:					flat
menu.hilite.pixmap:				
menu.hilite.color:				#1b7648
menu.hilite.colorTo:				#1b7648
menu.hilite.textColor:				#6aeda5

############################################################## TOOLBAR ########

toolbar.bevelWidth:				0

toolbar.borderWidth:				2
toolbar.borderColor:				#92f3bd

toolbar.height:					19

toolbar.justify:				center

toolbar:					flat
toolbar.pixmap:					tbarufcs.xpm
toolbar.color:					#
toolbar.colorTo:				#

toolbar.clock:					flat
toolbar.clock.pixmap:				tbarufcs.xpm
toolbar.clock.justify:				center
toolbar.clock.color:				#
toolbar.clock.colorTo:				#
toolbar.clock.textColor:			#92f3bd

toolbar.workspace:				flat
toolbar.workspace.pixmap:			tbarufcs.xpm
toolbar.workspace.justify:			Center
toolbar.workspace.color:			#
toolbar.workspace.colorTo:			#
toolbar.workspace.textColor:			#92f3bd

toolbar.button:					flat 
toolbar.button.pixmap:				tbarufcs.xpm
toolbar.button.color:				#
toolbar.button.colorTo:				#
toolbar.button.picColor:			#92f3bd
toolbar.button.pressed:				flat
toolbar.button.pressed.pixmap:			tbarufcs.xpm
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.empty:				flat
toolbar.iconbar.empty.pixmap:			tbarufcs.xpm
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:		0
toolbar.iconbar.focused.borderColor:		#aeaeae
toolbar.iconbar.focused:			flat
toolbar.iconbar.focused.pixmap:			tbarfcs.xpm
toolbar.iconbar.focused.color:			#
toolbar.iconbar.focused.colorTo:		#
toolbar.iconbar.focused.textColor:		#92f3bd
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:		0
toolbar.iconbar.unfocused.borderColor:		#aeaeae
toolbar.iconbar.unfocused:			flat
toolbar.iconbar.unfocused.pixmap:		tbarufcs.xpm
toolbar.iconbar.unfocused.color:		#
toolbar.iconbar.unfocused.colorTo:		#
toolbar.iconbar.unfocused.textColor:		#1b7648
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:				0
window.shade:					false
#window.borderWidth:				1
#window.borderColor:				#353535

window.focus.borderWidth:			3
window.focus.borderColor:			#92f3bd

window.unfocus.borderWidth:			3
window.unfocus.borderColor:			#6aeda5

window.justify:					Center

window.title.height:				15

window.title.focus:				flat
window.title.focus.pixmap:			wbarfcs.xpm
window.title.focus.color:			#
window.title.focus.colorTo:			#
window.title.unfocus:				flat
window.title.unfocus.pixmap:			wbarufcs.xpm
window.title.unfocus.color:			#
window.title.unfocus.colorTo:			#

window.label.focus:				flat
window.label.focus.pixmap:			wbarfcs.xpm
window.label.focus.color:			#
window.label.focus.colorTo:			#
window.label.focus.textColor:			#92f3bd
window.label.unfocus:				flat
window.label.unfocus.pixmap:			wbarufcs.xpm
window.label.unfocus.color:			#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#1b7648

window.button.focus:				flat
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#
window.button.unfocus:				flat
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#
window.button.pressed:				flat
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#

window.shade.pixmap:				buttonfcs.xpm
window.shade.unfocus.pixmap:			buttonufcs.xpm
window.shade.pressed.pixmap:			buttonpr.xpm

window.unshade.pixmap:				buttonfcs.xpm
window.unshade.unfocus.pixmap:			buttonufcs.xpm
window.unshade.pressed.pixmap:			buttonpr.xpm

window.menuicon.pixmap:				buttonfcs.xpm
window.menuicon.unfocus.pixmap:			buttonufcs.xpm
window.menuicon.pressed.pixmap:			buttonpr.xpm

window.close.pixmap:				buttonfcs.xpm
window.close.unfocus.pixmap:			buttonufcs.xpm
window.close.pressed.pixmap:			buttonpr.xpm

window.iconify.pixmap:				buttonfcs.xpm
window.iconify.unfocus.pixmap:			buttonufcs.xpm
window.iconify.pressed.pixmap:			buttonpr.xpm

window.maximize.pixmap:				buttonfcs.xpm
window.maximize.unfocus.pixmap:			buttonufcs.xpm
window.maximize.pressed.pixmap:			buttonpr.xpm

window.stick.pixmap:				buttonfcs.xpm
window.stick.unfocus.pixmap:			buttonufcs.xpm
window.stick.pressed.pixmap:			buttonpr.xpm

window.stuck.pixmap:				buttonpr.xpm
window.stuck.unfocus.pixmap:			stuckufcs.xpm
window.stuck.pressed.pixmap:			buttonfcs.xpm

window.handle.focus:				flat
window.handle.focus.pixmap:			tbarfcs.xpm
window.handle.focus.color:			#
window.handle.focus.colorTo:			#
window.handle.unfocus:				flat
window.handle.unfocus.pixmap:			tbarufcs.xpm
window.handle.unfocus.color:			#
window.handle.unfocus.colorTo:			#
window.handleWidth:				0

window.grip.focus:				flat
window.grip.focus.pixmap:			tbarfcs.xpm
window.grip.focus.color:			#
window.grip.focus.colorTo:			#
window.grip.unfocus:				flat
window.grip.unfocus.pixmap:			tbarufcs.xpm
window.grip.unfocus.color:			#
window.grip.unfocus.colorTo:			#

###############################################################################
# EOF