############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################


# title: camo		
# author: tenner
# website: http://www.tenr.de

################################################################################

!FONTS
					
menu.frame.font:			sans-8:shadow

menu.title.font:			sans-9:bold

toolbar.clock.font:			sans-10:bold

toolbar.workspace.font:			tahoma-10:bold

toolbar.iconbar.focused.font:		sans-8:bold

toolbar.iconbar.unfocused.font:		sans-8

window.font:				sans-8:bold

################################################################################

menu.bevelWidth:			2

menu.hight:				21

menu.borderColor:			#000000
menu.borderWidth:			4

menu.bullet.position:			Right

menu.frame:				flat
menu.frame.pixmap:			
menu.frame.justify:			left
menu.frame.textColor:			#000000
menu.frame.color:			#DED5C4
menu.frame.colorTo:			#DED5C4

menu.title:				flat
menu.title.pixmap:			
menu.title.justify:			right
menu.title.color:			#8F9988
menu.title.colorTo:			#8F9988
menu.title.textColor:			#000000

menu.hilite:				flat
manu.hilite.pixmap:			
menu.hilite.color:			#A99973
menu.hilite.colorTo:			#A99973
menu.hilite.textColor:			#ffffff

menu.bullet:				diamond
menu.submenu.pixmap:			
menu.selected.pixmap:	
menu.selected.color:				#000000		

################################################################################

toolbar.bevelWidth:			2
toolbar.color:				#DED5C4

toolbar.borderWidth:			4
toolbar.borderColor:			#000000

toolbar.height:				16

toolbar.justify:			center

toolbar.clock:				flat
toolbar.clock.pixmap:			
toolbar.clock.justify:			Center
toolbar.clock.textColor:		#000000
toolbar.clock.color:			#8F9988
toolbar.clock.colorTo:			#8F9988

toolbar.systray:			flat
toolbar.systray.pixmap:			
toolbar.systray.justify:		Center
toolbar.systray.textColor:		#000000
toolbar.systray.color:			#DED5C4
toolbar.systray.colorTo:		#DED5C4

toolbar.workspace:			flat
toolbar.workspace.pixmap:		
toolbar.workspace.justify:		Center
toolbar.workspace.color:		#8F9988
toolbar.workspace.colorTo:		#8F9988
toolbar.workspace.textColor:		#000000

toolbar.button:				flat 
toolbar.button.pixmap:			
toolbar.button.picColor:		#000000
toolbar.button.color:			#8F9988
toolbar.button.colorTo:			#8F9988
toolbar.button.pressed.pixmap:		
toolbar.button.pressed.picColor:	#000000
toolbar.button.pressed.color:		#8F9988
toolbar.button.pressed.colorTo:		#8F9988
 
toolbar.label:				flat
toolbar.label.pixmap:			
toolbar.label.textColor:		#000000
toolbar.label.color:			#ffffff
toolbar.label.colorTo:			#8F9988

toolbar.iconbar:			flat
toolbar.iconba.pixmap:			
toolbar.iconbar.color:			#009900
toolbar.iconbar.colorTo:		#8F9988

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.pixmap:		
toolbar.iconbar.empty.color:		#DED5C4
toolbar.iconbar.empty.colorTo:		#DED5C4

toolbar.iconbar.focused:		flat
toolbar.iconbar.focused.pixmap:		
toolbar.iconbar.focused.color:		#8F9988
toolbar.iconbar.focused.colorTo:	#8F9988
toolbar.iconbar.focused.justify:	center
toolbar.iconbar.focused.textColor:	#000000

toolbar.iconbar.unfocused:		flat
toolbar.iconbar.unfocused.pixmap:	
toolbar.iconbar.unfocused.color:	#DED5C4
toolbar.iconbar.unfocused.colorTo:	#DED5C4
toolbar.iconbar.unfocused.justify:	center
toolbar.iconbar.unfocused.textColor:	#69655D

################################################################################

window.bevelWidth:			2
window.shade:				false
window.borderWidth:			4
window.borderColor:			#000000

window.justify:				Center

window.title.height:			18

window.title.focus:			flat
window.title.focus.pixmap:		
window.title.focus.colorTo:		#8F9988
window.title.focus.color:		#8F9988
window.title.unfocus:			flat
window.title.unfocus.colorTo:		#DED5C4
window.title.unfocus.color:		#DED5C4

window.label.focus:			flat
window.label.focus.pixmap:		
window.label.focus.color:		#8F9988
window.label.focus.colorTo:		#8F9988
window.label.focus.textColor:		#000000
window.label.unfocus:			flat
window.label.unfocus.pixmap:		
window.label.unfocus.color:		#DED5C4
window.label.unfocus.colorTo:		#DED5C4
window.label.unfocus.textColor:		#69655D

window.button.focus:			flat
window.button.focus.pixmap:
window.button.focus.color:      	#8F9988		
window.button.focus.colorTo:      	#8F9988
window.button.focus.picColor:		#000000
window.button.unfocus:			#flat
window.button.unfocus.Color:		#DED5C4
window.button.unfocus.ColorTo:		#DED5C4
window.button.unfocus.picColor:		#000000
window.button.pressed:			Flat Gradient Diagonal
window.button.pressed.color:		#8F9988
window.button.pressed.colorTo:		#8F9988


window.close.pixmap:			
window.close.unfocus.pixmap:		
window.close.pressed.pixmap:		

window.iconify.pixmap:			
window.iconify.unfocus.pixmap:		
window.iconify.pressed.pixmap:		

window.maximize.pixmap:			
window.maximize.unfocus.pixmap:		
window.maximize.pressed.pixmap:		

window.stick.pixmap:			
window.stick.unfocus.pixmap:		
window.stick.pressed.pixmap:		

window.stuck.pixmap:			
window.stuck.unfocus.pixmap:		
window.stuck.pressed.pixmap:		

window.shade.pixmap:			
window.shade.unfocus.pixmap:		

window.frame:				flat
window.frame.pixmap:
window.frame.focusColor:		#
window.frame.unfocusColor:		#

window.handle.focus:			flat
window.handle.focus.pixmap:		
window.handle.focus.color:		#8F9988
window.handle.focus.colorTo:		#8F9988
window.handle.unfocus:			flat
window.handle.unfocus.pixmap:		
window.handle.unfocus.color:		#DED5C4
window.handle.unfocus.colorTo:		#DED5C4
window.handleWidth:			3

window.grip.focus:			flat
window.grip.focus.pixmap:		
window.grip.focus.color:		#DED5C4
window.grip.focus.colorTo:		#DED5C4
window.grip.unfocus:			flat
window.grip.unfocus.pixmap:		
window.grip.unfocus.color:		#DED5C4
window.grip.unfocus.colorTo:		#DED5C4

################################################################################
#EOF
